/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';

// body {
//   background-color: #2e2e2e;
// }
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}

//Scroll bar
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar {
  width: 10px;
}

.CompanyName{
  font-size: 17px;
  padding: 12px;
  font-weight: 500;
}

.CompanyPost{
  font-size: 15px;
  padding: 10px;
}

.CompanyTime{
  font-size: 13px;
}
