<div>

    <!-- Profile -->
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="./assets/images/mahipal.jpg" alt="Mahipal Choudhary" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h3 class="card-title">Mahipal Singh Choudhary <i class="fas fa-award text-success"></i></h3>
                    <p class="card-text">
                        Technology Analyst at <a href="https://www.infosys.com/" target="_blank">Infosys Ltd.</a>
                        <br>

                        <small class="text-muted">Jodhpur, Rajasthan, India</small>&nbsp; <small><i
                                style="font-size:3px ;vertical-align: middle;"
                                class="fas fa-circle text-muted"></i>&nbsp; <a routerLink="/contact">Contact
                                Info</a></small>
                        <br><br>
                        <!-- Email -->
                        <a class="btn text-white btn-lg btn-floating buttonMargin" style="background-color: #4b515d;"
                            href="mailto:{{_commonSvc.email}}" role="button">
                            <i style="margin-top: 15px;" class="fa fa-envelope"></i>
                        </a>
                        <!-- Linkedin -->
                        <a class="btn text-white btn-lg btn-floating buttonMargin" style="background-color: #0082ca;"
                            href="{{_commonSvc.linkedinURL}}" role="button">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <!-- Github -->
                        <a class="btn text-white btn-lg btn-floating buttonMargin" style="background-color: #333333;"
                            href="{{_commonSvc.githubURL}}" role="button">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- Google -->
                        <a class="btn text-white btn-lg btn-floating buttonMargin" style="background-color: #dd4b39;"
                            href="{{_commonSvc.googleURL}}" role="button">
                            <i class="fab fa-google"></i>
                        </a>
                        <!-- Whatsapp -->
                        <a class="btn text-white btn-lg btn-floating buttonMargin" style="background-color: #25d366;"
                            href="{{_commonSvc.whatsappURL}}" role="button">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated: 26 Octuber 2022</small>
                    </p>

                    <div class="text-end buttonPadding">
                        <a href="./assets/resume/MahipalChoudharyResume.pdf" target="_blank"
                            class="btn btn-outline-success btn-rounded text-success buttonMargin"
                            data-mdb-ripple-color="dark">Download
                            Resume</a>
                        <a class="btn btn-outline-primary btn-rounded text-primary buttonMargin" routerLink="/contact"
                            data-mdb-ripple-color="dark">Contact</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Profile -->

    <br>

    <!-- About -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">
                I am <strong>4+ years</strong> experienced developer with a solid background in a wide range of
                <strong>.NET &
                    Angular</strong> development aspects in a business application context. My expertise includes all
                development stages, from initial analysis through design and execution.
                <br><br>
                Experienced Web Developer with a demonstrated history of working in the Computer
                Software industry. Skilled in <strong>Angular 14, ASP .NET MVC, Azure SSO, Web API,
                    JavaScript, jQuery, and SQL server 2019</strong>. Strong engineering professional graduated from
                <strong>Rajasthan Technical University, Kota</strong>.
            </p>
        </div>
    </div>
    <!-- About -->

    <br>

    <!-- Experience -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <div class="card-text">
                <ul>
                    <li class="CompanyName">INFOSYS LTD.
                        <br><small class="text-muted CompanyTime">7 months</small>
                        <ol>
                            <li class="CompanyPost">
                                Technlogy Analyst
                                <br><small class="text-muted CompanyTime">Full-time</small>
                                &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp;
                                <small class="text-muted CompanyTime">April 2022 to Present &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp; 7 months</small> 
                            </li>
                        </ol>
                    </li>
                    <li class="CompanyName">ANAND RATHI IT PVT. LTD.
                        <br><small class="text-muted CompanyTime">4 yrs 4 months</small>
                        <ol>
                            <li class="CompanyPost">
                                Senior Software Engineer
                                <br><small class="text-muted CompanyTime">Full-time</small>
                                &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp;
                                <small class="text-muted CompanyTime">Jul 2021 to Apr 2022 &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp; 10 months</small>
                            </li>
                            <li class="CompanyPost">
                                Software Developer
                                <br><small class="text-muted CompanyTime">Full-time</small>
                                &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp;
                                <small class="text-muted CompanyTime">Jul 2019 to Jul 2021 &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp; 2 yrs 1 month</small>
                            </li>
                            <li class="CompanyPost">
                                Associate Software Developer
                                <br><small class="text-muted CompanyTime">Full-time</small>
                                &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp;
                                <small class="text-muted CompanyTime">Mar 2018 to Jul 2019 &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp; 1 yr 5 months</small>
                            </li>
                            <li class="CompanyPost">
                                Trainee
                                <br><small class="text-muted CompanyTime">Internship</small>
                                &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp;
                                <small class="text-muted CompanyTime">Jan 2018 to Mar 2018 &nbsp; <small><i style="font-size:3px ;vertical-align: middle;" class="fas fa-circle text-muted"></i></small>&nbsp; 3 months</small>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Experience -->

    <br>

    <!-- Education -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Education</h5>
            <!-- MCA -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="./assets/images/rtu.jpg" alt="rtu.jpg" class="img-fluid rounded-start" />
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Master of Computer Application (MCA) with 70%</h5>
                            <p class="card-text">From Rajasthan Technical University, Kota
                                <br>July 2016 - July 2018
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MCA -->

            <!-- BCA -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="./assets/images/mcnu.jpg" alt="mcnu.jpg" class="img-fluid rounded-start" />
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Bachelor of Computer Application (BCA) with 64.91%</h5>
                            <p class="card-text">From Makhanlal Chaturvedi National University of Journalism and
                                Communication, Kota
                                <br>July 2012 - July 2015
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BCA -->
        </div>
    </div>
    <!-- Education -->

    <br>

    <!-- Know more -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Know more</h5>
            <div class="text-center">
                <a class="btn btn-outline-primary btn-rounded text-primary" routerLink="/about"
                    data-mdb-ripple-color="dark">View full Details</a>
            </div>
        </div>
    </div>
    <!-- Know more -->
</div>